.app-map{
    width: 100%;
    height: 500px;
    background: #ccc;
}
.app-section{
    margin-top: 50px;
}
.points-list{
    list-style: none;
    padding-left: 0;
}
.point-item{
    position: relative;
    padding-right: 30px;
    display: block;
    
}
.point-item__title{
    word-break: break-all;
    font-size: 16px;
    display: inline-block;
}
.points-list__item{
    
    display: block;
    padding: 15px;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.points-list__item:last-child{
    border-bottom: 1px solid #f1f1f1;
}

.point-remove{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background: #cd0000;
}
.app-form__item{
    margin-bottom: 20px;
}
.point-item__remove{
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    
}
.point-remove:before{
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.point-remove:after{
    content: '';
    width: 2px;
    height: 10px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
