<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <div class="app-section">
            <div class="container">
                <div class="col-md-4">
                    <form action="" class="app-form">
                        <div class="app-form__item">
                            <input type="text" class="input form-control app-form__input" v-model="inputVal" placeholder="Новая точка маршрута" v-on:keyup.enter="addPoin" @keypress.enter.prevent>
                        </div>
                        <div class="app-form__item">
                            <draggable v-model="points" class="list-group" :options="{group:'hsm', filter:'.badge'}" @change="pointsChange">
                                <li class="points-list__item" v-for="(point, index) in points" :key="index">
                                    <div class="point-item">
                                        <span v-cloak class="point-item__title" v-text="point.title">
                                        </span>
                                        <i class="point-item__remove point-remove" @click.prevent="deletePoint(index)"></i>
                                    </div>
                                </li>
                            </draggable>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div id="map" class="app-map"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/vue.js"></script>
    <script src="js/Sortable.min.js"></script>
    <script src="js/vuedraggable.min.js"></script>
    <script>
       var map;
var key = 0;
ymaps.ready(function() {
    map = new ymaps.Map("map", {
        center: [55.76, 37.64],
        zoom: 7
    });

});


var app = new Vue({
    el: '#app',
    data: {
        inputVal: '',
        points: [],
        route: null,

    },
    watch: {
        points: {
            deep: true,
            handler: 'reDraw'
        }
    },
    methods: {
        addPoin: function() {
            let vm = this;
            key++;
            let id = key;
            var firstGeoObject;
            var routeArr;

            ymaps.geocode(this.inputVal, {
                    results: 1
                }).then(function(res) {
                    // Выбираем первый результат геокодирования.
                    firstGeoObject = res.geoObjects.get(0),
                        coords = firstGeoObject.geometry.getCoordinates(),



                        // Получаем строку с адресом и выводим в иконке геообъекта.
                        firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());
                    firstGeoObject.options.set('draggable', true);
                    // Добавляем первый найденный геообъект на карту.



                    var text = firstGeoObject.properties.get('text');




                    vm.showTitle(coords, id);
                    vm.$set(vm.points, vm.points.length, {
                        id: id,
                        coords: coords,
                        title: text
                    })

                })
                .catch(function(error) {
                    // handle error

                })
                .then(function(res) {
                    firstGeoObject = res.geoObjects.get(0),
                        coords = firstGeoObject.geometry.getCoordinates(),

                        firstGeoObject.events.add('dragend', function(e) {



                        });

                });
            this.inputVal = "";
        },
        pointsChange: function() {
            this.reDraw();

            //сменили порядок

        },

        deletePoint: function(index) {
            this.$delete(this.points, index)



            console.log(index)

        },
        reDraw: function() {

            let vm = this;
            map.geoObjects.removeAll();

            var objects = [];
            this.points.forEach(function(item, i, arr) {

                myGeoObject = new ymaps.GeoObject({
                    // Описание геометрии.
                    id: item.id,
                    geometry: {
                        type: "Point",
                        coordinates: item.coords
                    },
                    // Свойства.
                    properties: {
                        curId: item.id,

                        hintContent: item.title
                    }
                }, {
                    // Опции.
                    // Иконка метки будет растягиваться под размер ее содержимого.
                    preset: 'islands#blueDotIcon',
                    // Метку можно перемещать.
                    draggable: true
                })

                myGeoObject.events.add('dragend', function(e) {
                    var id = e.originalEvent.target.properties._data.curId;
                    var coords = e.originalEvent.target.geometry._coordinates;


                    ymaps.geocode(coords, {
                        results: 1
                    }).then(function(res) {
                        var reverceObject = res.geoObjects.get(0);
                        var address = reverceObject.getAddressLine();

                        let index = vm.getIndexById(id);


                        vm.points[index].title = address;
                        vm.points[index].coords = coords;


                    })


                })
                map.geoObjects.add(myGeoObject);




            })

            this.createRoute();

        },
        createRoute: function() {
            let vm = this;
            var newRout;
            this.route = null;
            map.geoObjects.remove(newRout);
            var route = [];

            for (var i in this.points) {
                route.push(this.points[i].title)
            }

            newRout = ymaps.route(route, {
                    multiRoute: true
                })
                .done(function(route) {
                    if (!vm.route) {
                        vm.route = route;
                        route.options.set("mapStateAutoApply", true);
                        map.geoObjects.add(route);
                    }
                }, function(err) {
                    throw err;
                }, this);

        },
        showTitle(cords, id) {

        },
        getIndexById(id) {
            for (let i in this.points) {
                if (this.points[i].id === id) {
                    return i;
                }
            }

            return false;
        }
    },
    created: function() {


    }
})
    </script>
</body>

</html>
